@import "tailwindcss";

@theme {
  /* Defining your custom brand colors */
  --color-brand-dark: #2d2921;
  --color-brand-gold: #a6885b;

  /* You can also map them to semantic names */
  --color-hospitality-bg: var(--color-brand-dark);
  --color-hospitality-accent: var(--color-brand-gold);
}

/* Base styles using your new variables */
@layer base {
  body {
    @apply bg-brand-dark text-white antialiased;
  }
}

@theme {
  --animate-infinite-scroll: infinite-scroll 25s linear infinite;

  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}
